<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>数飞国际化帮助</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>

    <div id="app">
        </el-alert>
        <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
            <span>内容已复制到剪切板</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">确定</el-button>
            </span>
        </el-dialog>
        <el-container>
            <el-header>
                <h1>Sofly Project Translate Helper</h1>
            </el-header>
            <el-main>
                <el-tabs type="border-card" v-model="activeName" :tab-position="tabPosition" >
                    <el-tab-pane label="后台" name="first">
                        <el-row>
                            <el-form ref="form" :model="form" label-width="80px" @submit.native.prevent>
                                <el-form-item label="中文描述">
                                    <el-input v-model="form.text" placeholder="输入中文描述"></el-input>
                                </el-form-item>
                                <el-form-item label="自定义key">
                                    <el-input type="textarea" v-model="form.key" placeholder="输入key值，如 ims_common_success"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit">提交</el-button>
                                    <el-button @click="resetForm">取消</el-button>
                                </el-form-item>
                            </el-form>
                        </el-row>
                        <el-row :gutter="12">
                            <el-form :label-position="labelPosition" ref="form" label-width="80px" @submit.native.prevent>
                                <el-col :span="12">
                                    <el-form-item label="Result 1">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result1" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="Result 2">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result2" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 默认">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result3" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 英文">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result4" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 中文">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result5" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 西班牙文">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result6" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-form>

                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="前台" name="second">
                        <el-row>
                            <el-form ref="form" :model="frontForm" label-width="80px" @submit.native.prevent>
                                <el-form-item label="中文描述">
                                    <el-input v-model="frontForm.text" placeholder="输入中文描述"></el-input>
                                </el-form-item>
                                <el-form-item label="自定义key">
                                    <el-input type="textarea" v-model="frontForm.key" placeholder="输入key值，如 ims_common_success"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmitFront">提交</el-button>
                                    <el-button @click="resetFrontForm">取消</el-button>
                                </el-form-item>
                            </el-form>
                        </el-row>
                        <el-row :gutter="12">
                            <el-form :label-position="labelPosition" ref="form" label-width="80px" @submit.native.prevent>
                                <el-col :span="12">
                                    <el-form-item label="Result 1">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result21" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="Result 2">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result22" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 默认">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result23" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 英文">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result24" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 中文">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result25" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <el-form-item label="Result 西班牙文">
                                        <el-input type="textarea" @focus="onInputCopy" v-model="result26" :autosize="{ minRows: 10, maxRows: 15}"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-form>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="配置" name="third">
                        <el-row>
                            <el-form ref="form" :model="thirdForm" label-width="180px" @submit.native.prevent>
                                <el-form-item label="后台I18N常量文件名称">
                                    <el-input v-model="thirdForm.i18nconstant" placeholder="例如：TcmI18nConstant"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmitThird">提交</el-button>
                                </el-form-item>
                            </el-form>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="说明" name="forth">
                        <el-row>
                            <el-form ref="form" @submit.native.prevent>
                                <el-form-item label=""><span style="color: blue;">1、请先配置“后台I18N常量文件名称”</span></el-form-item>
                                <el-form-item label=""><span style="color: burlywood;">2、目前I18n常量文件中i18n文件的路径名称固定为“MESSAGE_I18N_PATH”</span></el-form-item>
                                <el-form-item label=""><span style="color: darkmagenta;">3、仅供所有类似IMS系统的框架使用</span></el-form-item>
                                <el-form-item label=""><span style="color: red;">4、请勿随意乱点，翻译是花钱的！！！！！！</span></el-form-item>
                            </el-form>
                        </el-row>
                    </el-tab-pane>
                </el-tabs>

            </el-main>
        </el-container>



    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- jquery -->
<script src="http://shared.ydstatic.com/js/jquery/jquery-3.1.1.min.js"></script>
<!-- md5 -->
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
<!-- store -->
<script src="https://cdn.bootcss.com/store.js/1.3.20/store.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                input10: '',
                form: {
                    text: '',
                    key: ''
                },
                labelPosition: 'top',
                result1: '',
                result2: '',
                result3: '',
                result4: '',
                result5: '',
                result6: '',
                dialogVisible: false,
                activeName: 'forth',
                tabPosition: 'top',
                frontForm: {
                    text: '',
                    key: ''
                },
                thirdForm: store.get('thirdForm') || {
                    i18nconstant: 'TcmI18nConstant'
                },
                result21: '',
                result22: '',
                result23: '',
                result24: '',
                result25: '',
                result26: ''
            }
        },
        methods: {
            onSubmit() {

                var br = '\n';
                // 普通注释 ===》 // 中文描述
                var simpleDesc = "// " + this.form.text;
                // key with _ 大写 小写
                var keyWithUnderLineUpper = this.form.key.toUpperCase();
                var keyWithUnderLineLower = this.form.key.toLowerCase();
                // key with . 大写 小写
                var keyWithDotUpper = keyWithUnderLineUpper.replace(/_/g, '.').replace(/-/g, '.');
                var keyWithDotLower = keyWithUnderLineLower.replace(/_/g, '.').replace(/-/g, '.');
                // String filename = I18nUtils.getI18nMsg(TcmI18nConstant.MESSAGE_I18N_PATH, TcmI18nConstant.PAYMENT_DETAIL_INFO, getLocale());
                var i18nMsg =
                    'String msg = I18nUtils.getI18nMsg(' + this.thirdForm.i18nconstant + '.MESSAGE_I18N_PATH, ' + this.thirdForm.i18nconstant + '.' +
                    keyWithUnderLineUpper + ', getLocale());';

                // result1
                this.result1 = simpleDesc + br + i18nMsg;
                // result2
                this.result2 = this.result2 + br + '/**' + br + '* ' + this.form.text + br + '*/' + br +
                    'String ' + keyWithUnderLineUpper + ' = ' + '"' + keyWithDotLower + '";'
                // result3
                this.result3 = this.result3 + br + keyWithDotLower + ' = ' + this.form.text;
                this.result4 = this.result4 + br + keyWithDotLower + ' = ' + '';
                this.translate(this.form.text, 'en', 1);
                this.result5 = this.result5 + br + keyWithDotLower + ' = ' + this.form.text;
                this.result6 = this.result6 + br + keyWithDotLower + ' = ' + this.form.text;
            },
            resetForm() {
                this.form.text = '';
                this.form.key = '';
            },
            resetFrontForm() {
                this.frontForm.text = '';
                this.frontForm.key = '';
            },
            onInputCopy(event) {
                event.currentTarget.select();
                document.execCommand('copy');
                this.dialogVisible = true;
            },
            translate(query, target, index) {
                var result = '';
                var appKey = '457d1178e821b4ae';
                var appSecret = 'wwqhvHiO6yGkFBqJ2aUIiJqSGdq8N6s1'; //注意：暴露appSecret，有被盗用造成损失的风险
                var salt = (new Date).getTime();
                var from = 'zh-CHS';
                var to = 'en';
                var str1 = appKey + query + salt + appSecret;
                var sign = md5(str1);
                $.ajax({
                    url: 'http://openapi.youdao.com/api',
                    type: 'post',
                    dataType: 'jsonp',
                    data: {
                        q: query,
                        appKey: appKey,
                        salt: salt,
                        from: from,
                        to: to,
                        sign: sign
                    },
                    success: function (data) {
                        if (data && data.translation) {
                            if (target == 'en') {
                                if (index == 1) {
                                    vue.result4 = vue.result4 + data.translation;
                                }
                                if (index == 2) {
                                    vue.result24 = vue.result24 + data.translation;
                                }
                            }
                        }
                    }
                });
                return result;
            },
            onSubmitFront() {
                var br = '\n';
                // 普通注释 ===》 // 中文描述
                var simpleDesc = "// " + this.frontForm.text;
                // key with _ 大写 小写
                var keyWithUnderLineUpper = this.frontForm.key.toUpperCase();
                var keyWithUnderLineLower = this.frontForm.key.toLowerCase();
                // key with . 大写 小写
                var keyWithDotUpper = keyWithUnderLineUpper.replace(/_/g, '.').replace(/-/g, '.');
                var keyWithDotLower = keyWithUnderLineLower.replace(/_/g, '.').replace(/-/g, '.');
                // var message = $.i18n.prop
                var i18nMsg = 'var message = $.i18n.prop("' + keyWithDotLower + '");';
                // result1
                this.result21 = simpleDesc + br + i18nMsg;
                // result2
                this.result22 = 'class="ims-i18n sx_i18n_hide" data-i18n-key="' + keyWithDotLower + '"';
                // result3
                this.result23 = this.result23 + br + keyWithDotLower + ' = ' + this.frontForm.text;
                this.result24 = this.result24 + br + keyWithDotLower + ' = ' + '';
                this.translate(this.frontForm.text, 'en', 2);
                this.result25 = this.result25 + br + keyWithDotLower + ' = ' + this.frontForm.text;
                this.result26 = this.result26 + br + keyWithDotLower + ' = ' + this.frontForm.text;
            },
            onSubmitThird() {
                store.set('thirdForm', this.thirdForm);
            }
        }
    })
</script>

</html>